.fish-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    flex-direction: row;
    max-width: 680px;
    padding: 20px 10px 0px 10px;
    border: 5px solid #012475;
}

.fish_image {
    height: 320px;
    width: 320px;  
    margin-left: 5px;
    margin-right: 5px;
    border: 5px solid #388cbb;
}

.fish_info {
    height: 330px;
    width: 330px; 
    text-align: center;
}

.locations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    max-width: 660px;
    padding: 20px 10px 0px 10px;
}

.location {
    height: 330px;
    width: 330px; 
    text-align: center;
}

.tips-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:right;
    flex-direction: column;
    max-width: 500px;
    padding: 20px 10px 0px 10px;
}

.tip {
    height: 250px;
    width: 250px; 
    text-align: center;
}